.testimonial{
    margin: 0 15px;
}
.testimonial .content{
    padding: 15px 10px;
    border-radius:6px;
    margin-bottom: 15px;
    position: relative;
    background:#e67e22;
    min-height: 100px;
}
.testimonial .content:after{
    content: "";
    border-top: 10px solid #e67e22;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 16%;
}
#testimonial-slider div.owl-item:nth-child(2n) .content{
    background: #1abc9c;
}
#testimonial-slider div.owl-item:nth-child(2n) .content:after{
    content: "";
    border-top: 10px solid #1abc9c;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 16%;
}
#testimonial-slider div.owl-item:nth-child(3n+1) .content{
    background: #9b59b6;
}
#testimonial-slider div.owl-item:nth-child(3n+1) .content:after{
    content: "";
    border-top: 10px solid #9b59b6;
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 16%;
}
.testimonial .description{
    margin-bottom: 10px;
    color:#fff;
    min-height: auto !important;
}
.testimonial-pic{
    float:left;
}
.testimonial-pic > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    margin-left: 20px;
}
.testimonial .testimonial-review{
    margin:3px 0 0 15px;
    float: left;
}
.testimonial .testimonial-title{
    font-size:16px;
    text-transform:capitalize;
    font-weight: bold;
    margin:0;
}
.testimonial > .testimonial-review span{
    color: darkgray;
    display: block;
    font-size: 13px;
    margin-bottom:5px;
}
.testimonial .social-links{
    padding:0;
    margin:0;
}
.testimonial .social-links > li{
    list-style:none;
    display:inline-block;
    margin-right:10px;
}
.testimonial .social-links > li > a.fa-twitter{
    color:#00aced;
}
.testimonial .social-links > li > a.fa-facebook{
    color: #3b599a;
}
.testimonial .social-links > li > a.fa-pinterest{
    color:#E14782;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #1abc9c;
}
.owl-theme .owl-controls .owl-page span{
    background: #333;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page span{
    width: 10px;
    height:10px;
    margin: 5px 6px;
}

.testimonial:before, .testimonial:after{
    border: none;
}


.testimonial-title a{
    text-decoration: none;
    color:#E14782 ;
}

.social-media .fa {
    padding: 18px;
    font-size: 20px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

}

/* Add a hover effect if you want */
.social-media  .fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.social-media  .fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.social-media  .fa-twitter {
    background: #55ACEE;
    color: white;
}

.social-media  .fa-instagram {
    background: #125688;
    color: white;
}